//colors 
$background-color: #ffffff;
$text-color: #91959c;
$line-color: #eaeef0;
$hover-color: #f3f3f3;
$shadow-color: #bbbaba;
$red-lines: #f3e6e3;

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(/src/font.ttf);
}
// global css
* {
  font-family: 'Open Sans', sans-serif;
}

.container {
  &-out { // list's background
    height:           100vh;
    display:           flex;
    align-items:     center;
    justify-content: center;
  }
  &-in { // list
    background-color: $background-color;
    min-width:  25em;
    width:      auto;
    height:     auto;
    padding:       0;
    box-shadow: 0 0.1em 0.3em $shadow-color;
  }
}
// todolist-new css
.list {
  color:                   $text-color;
  font-size:                     1.3em;
  padding:                           0;
  margin:                            0;
  width:                          auto;
  font-family: 'Open Sans', sans-serif;
  border:          1px solid #dedede;
  & .item {
    list-style: none;
    border-bottom: 1px solid $line-color;
    height:     auto;
    padding: 0.6em 0;
    margin:        0;
    &-input {
      padding:     0;
      background-color: $hover-color;
    }
    &-checkbox {
      display:          inline;
      padding:          0.6em 0 0.6em 0.6em;
      border-right: 0.06em solid $red-lines;
      margin-right:     0.2em;
    }
    &-text {
      display: inline;
      border:    none;
      padding:  0.6em;
      border-left: 0.06em solid $red-lines;
    }
  }
}

.input {
  &-out {
    border-left: 0.06em solid $red-lines;
    padding: 0.6em 0;
  }
  &-in {
    padding: 0;
    background-color: $hover-color;
    display: inline;
    border:    none;
    padding:  0.6em;
    font-size:  1em;
    width:     18em;
  }
}

.list-hover:hover { 
  background-color: $hover-color;
  transition: all 0.2s;
}

.trash { 
  display:       none;
  float:        right;
  margin-right: 0.6em;
}

.list-hover:hover .trash {
  display:      block;
}